h1 {
    color: black;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    text-align: center;
    font-size: 60px;
}

.social-links {
    display: flex;
    justify-content: center; 
    gap: 25px; 
}
.social-links a {
    color: #333; 
    font-size: 28px;
    transition: color 0.3s ease;

}
  
.social-links a:hover {
    color: #ffe2fb; 
}

h2 {
    color: black;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400; 
}

h3 {
    color: black;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400; 
}

p {
    color: black;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 25px; 
    text-align: center;
    padding-left: 5%;
    padding-bottom: 10%;

}

body {
    background-color: #FFFEF2;
}

img {
    max-width: 20%; 
    height: auto;  
    padding-left: 5%;
    padding-right: 5%;
    float: left;  
}

footer {
    padding-top: 20%;
    padding-bottom: 0%;
}